@import "../../variables.scss";

.HeroItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: $default-separation;

  @media $(medium-and-up) {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  &-thumbnail {
    max-width: 100%;
    flex-basis: 100%;
    margin: 0 0 $default-separation 0;
    .Thumbnail-img { display: block; }

    @media $(medium-and-up) {
      margin: 0 $default-separation 0 0;
      max-width: 150px;
    }
  }

  &-actionsWrapper {
    margin-left: auto;
    margin-top: $default-separation;

    @media $(medium-and-up) {
      margin-top: 0;
    }
  }

  &-addAction, &-removeAction {
    cursor: pointer;
  }

  &-name {
    margin: 0;
  }

  &-description {
    margin: $default-separation 0 0;
  }
}
